<style>
td.product-order-price {
  text-align: right;
}

</style>
<h2 style="">{{ title }}</h2>

<div style="width: 400px">
  <table align="center" cellspacing="0" cellpadding="10" style="font-size: 14px">
    <tr>
      <th class="product-order-number"></th>
      <th class="product-order-times"></th>
      <th class="product-order-name">Product</th>
      <th class="product-order-price">Price</th>
      <th class="product-order-price">Total</th>    </tr>

    {% for item in items %}
      <tr class="product-order-row">
        <td class="product-order-number">{{ item.number_of }}</td>
        <td class="product-order-times">&times;</td>
        <td class="product-order-name">{{ item.name }}</td>
        <td class="product-order-price">{{ item.price|number_format(2) }}</td>
        <td class="product-order-price">{{ item.price_total|number_format(2) }}</td>
      </tr>
    {% endfor %}

    <tr>
      <th colspan='5' style="border-bottom: 1px solid gray" align="left"></th>
    </tr>

    {% if(order.discount.price) %}
      {# Discount #}
      <tr class="product-order-row product-order-row-discount">
        <td class="product-order-number"></td>
        <td class="product-order-times"></td>
        <td class="product-order-name">Discount</td>
        <td class="product-order-price"></td>
        <td class="product-order-price">-{{ order.discount.price|number_format(2) }}</td>
      </tr>
    {% endif %}

    {# Shipping #}
    <tr class="product-order-row product-order-row-shipping">
      <td class="product-order-number"></td>
      <td class="product-order-times"></td>
      <td class="product-order-name">Shipping</td>
      <td class="product-order-price"></td>
      <td class="product-order-price">{{ order.shipping.price|number_format(2) }}</td>
    </tr>

    <tr>
      <th colspan='5' style="border-bottom: 1px solid gray" align="left"></th>
    </tr>

    {# Price Total #}
    <tr class="product-order-row product-order-row-total">
      <td class="product-order-number"></td>
      <td class="product-order-times"></td>
      <td class="product-order-name">Total</td>
      <td class="product-order-price"></td>
      <td class="product-order-price">{{ order.total.price|number_format(2) }}</td>
    </tr>
    <tr>
      <th colspan='5' style="border-bottom: 1px solid gray" align="left"></th>
    </tr>
  </table>
</div>
<br>
<br>

<h2 style="color: #353a92; font-size: 18px; margin: 5px 0 10px;">Delivery Address</h2>
<div>
  <address style="font-size: 14px">
    <span>{{ address.gender }}</span><br>
    <span style="font-weight: bold">{{ address.first_name }} {{ address.last_name }}</span><br>
    <span>{{ address.street_and_number }}</span><br>
    <span> {{ address.zip_code }} {{ address.city }}</span><br>
    <br>
    <span>{{ address.email }}</span><br>
    <span>{{ address.phone }}</span><br>
  </address>
</div>
<br>


<h3 style="font-weight:bold; font-size: 16px">Feelgood Inc.</h3>

<address style="font-size: 14px">
  Post office box <br>
  5103 New York <br>
  info@example.com
</address>
<br>

<h3>Bank Account</h3>
