<div class="product-order-receipt ">


  <div class="product-order-list">
    <h2>Order</h2>

    <div class="product-order-row product-order-header">
    </div>

    {% for item in items %}
      <div class="product-order-row">
        <span class="product-order-number">{{ item.number_of }}</span>
        <span class="product-order-times">&times;</span>
        <span class="product-order-name">{{ item.name }}</span>
        <span class="product-order-price">{{ item.price|number_format(2) }}</span>
        <span class="product-order-price">{{ item.price_total|number_format(2) }}</span>
      </div>

    {% endfor %}

    {% if(order.discount.price) %}
      {# Discount #}
      <div class="product-order-row product-order-row-discount">
        <span class="product-order-number"></span>
        <span class="product-order-times"></span>
        <span class="product-order-name">Discount</span>
        <span class="product-order-price"></span>
        <span class="product-order-price">-{{ order.discount.price|number_format(2) }}</span>
      </div>
    {% endif %}

    {# Shipping #}
    <div class="product-order-row product-order-row-shipping">
      <span class="product-order-number"></span>
      <span class="product-order-times"></span>
      <span class="product-order-name">Shipping</span>
      <span class="product-order-price"></span>
      <span class="product-order-price">{{ order.shipping.price|number_format(2) }}</span>
    </div>

    {# Price Total #}
    <div class="product-order-row product-order-row-total">
      <span class="product-order-number"></span>
      <span class="product-order-times"></span>
      <span class="product-order-name">Total</span>
      <span class="product-order-price"></span>
      <span class="product-order-price">{{ order.total.price|number_format(2) }}</span>

    </div>
  </div>


  <div class="product-order-address">
    <h2>Delivery Address</h2>

    <address>
      <div class="address-gender">{{ address.gender }}</div>
      <div class="address-name">{{ address.first_name }} {{ address.last_name }}</div>

      <div class="address-street">{{ address.street_and_number }}</div>
      <div class="address-city">{{ address.zip_code }}  {{ address.city }}</div>

      <div class="address-email"><i class="fas fa-envelope"></i> {{ address.email }}</div>
      <div class="address-phone"><i class="fas fa-phone"></i> {{ address.phone }}</div>

    </address>
  </div>
  <div class="product-order-info">
    <p>Thank you very much for your order.</p>
  </div>

  <div class="product-order-info">
    <a href="{{ path('smmg_product_order.send_email', {'nid': id,  'token': token}) }}"
       role="button">Send email again
    </a>
  </div>
</div>

